.list-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
  padding: 0;
  gap: 1.6rem;
}
.list-social:empty {
  display: none;
}

.list-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-social__item .icon {
  height: 2.4rem;
  width: 2.4rem;
  color: rgba(var(--color-social));
  transition: var(--duration-default);
}
.list-social__item .icon:hover {
  opacity: 0.8;
}

.list-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(var(--color-foreground-title));
  text-decoration: none;
  transition: opacity var(--duration-default);
}
.list-social__link:hover {
  opacity: 0.7;
}