@charset "UTF-8";
.product-card {
  position: relative;
}
.product-card .product-form__controls-group label {
  transition: all var(--duration-default) ease;
}
.product-card .product_color-count {
  opacity: 1;
  transition: all var(--duration-default) ease;
  position: absolute;
}
.product-card .card__title {
  letter-spacing: -0.03em;
}
.product-card .card-link--overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.product-card .product-button-group {
  position: absolute;
  padding: 2px;
  z-index: 11;
  top: 50%;
  display: none;
  transform: translateY(-50%);
  transition: opacity var(--duration-default);
}
.product-card .product-button-group svg {
  color: rgb(var(--color-product-card-slider-control));
}
@media screen and (min-width: 990px) {
  .product-card .product-button-group {
    opacity: 0;
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .product-card .product-button-group {
    display: block;
  }
}
.product-card .product-button-group.button-next {
  right: 0;
}
.product-card .product-button-group.button-next svg {
  transform: rotate(180deg);
}
.product-card .product-button-group .swiper-button-prev-1,
.product-card .product-button-group .swiper-button-next-1 {
  padding: 5px;
}
@media screen and (min-width: 990px) {
  .product-card .product-button-group .swiper-button-prev-1,
  .product-card .product-button-group .swiper-button-next-1 {
    padding: 10px;
  }
}
.product-card .product-button-group .swiper-button-prev-1:hover,
.product-card .product-button-group .swiper-button-next-1:hover {
  opacity: 0.7;
}
.product-card .product-button-group.button-prev {
  left: 0;
}
.product-card .product-button-group .swiper-button-disabled {
  opacity: 0.7;
}

.card-wrapper:hover .product-button-group {
  opacity: 1;
  cursor: pointer;
}
.card-wrapper:hover .card__link {
  opacity: 1;
}
.card-wrapper:hover .card-type__hover {
  opacity: 1;
}

.mobile-hide {
  display: none;
}
@media (min-width: 750px) {
  .mobile-hide {
    display: block;
  }
}

.mobile-hide-desktop {
  display: none;
}

.collection-product-card {
  position: relative;
  margin: 0;
  transition: var(--duration-default);
}
.collection-product-card .caption-with-letter-spacing {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.card-wrapper {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card-wrapper__image {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: var(--duration-default);
}

.full-unstyled-link,
.placeholder-svg {
  transition: var(--duration-default);
}

.card-wrapper__link--overlay {
  display: block;
  text-decoration: none;
  color: rgb(var(--color-link));
  background-color: transparent;
  z-index: 1;
}

.card {
  display: block;
  text-decoration: none;
}
.card .media {
  background-color: transparent;
}

.card-information {
  padding-top: 1.2rem;
  z-index: 2;
  font-family: var(--font-text-card-family);
  font-style: var(--font-text-card-style);
  font-weight: var(--font-text-card-weight);
  font-size: calc(var(--font-text-card-scale) * 1rem);
}
.card-information__wrapper .card-vendor {
  font-family: var(--font-body-family);
  color: rgba(var(--color-foreground));
  line-height: var(--font-body-line-height);
}
.card-information .vendor-link {
  position: relative;
  z-index: 4;
  pointer-events: all;
  transition: all var(--duration-default) ease;
}
.card-information .vendor-link:hover {
  opacity: 0.7;
}
.card-information a {
  text-decoration: none;
}

.card__inner {
  position: relative;
  display: block;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Ñard__vendor {
  position: relative;
  color: rgba(var(--color-base-text), 0.6);
  z-index: 4;
}

.card__title {
  position: relative;
  display: block;
  font-family: var(--font-heading-card-family);
  font-style: var(--font-heading-card-style);
  font-weight: var(--font-heading-card-weight);
  font-size: calc(var(--font-heading-card-scale) * 1rem);
  line-height: 1.4;
  text-transform: none;
  margin: 0;
  margin-top: 0.4rem;
  z-index: 4;
}

.caption-with-letter-spacing {
  max-width: 25.5rem;
  margin: 0;
}

.card-information__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 2.4rem;
}

@media screen and (min-width: 1100px) {
  .card-link-small .card__link {
    font-size: 1.2rem;
  }
}
.card__link {
  position: absolute;
  left: 50%;
  bottom: 2.4rem;
  margin: 0;
  width: auto;
  height: auto;
  min-width: unset;
  min-height: unset;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
  transform: translateX(-50%);
  z-index: 4;
  pointer-events: all;
  transition: transform var(--duration-default), opacity var(--duration-default), background-color var(--duration-default);
  text-transform: uppercase;
  line-height: 1;
  overflow: unset;
  white-space: nowrap;
}
@media screen and (min-width: 1100px) {
  .card__link {
    opacity: 0;
  }
}
.card__link.button--link {
  left: 2.4rem;
  transform: translateY(0);
  display: inline-flex;
  align-items: center;
}
.card__link.button--link > svg {
  transition: all var(--duration-default) ease;
}
.card__link.button--link.loading {
  transform: unset;
}
.card__link.loading {
  opacity: 0.5;
  transform: translateX(-50%) translateY(0);
  pointer-events: none;
}
.card__link.loading span {
  opacity: 0;
}
.card__link.card__link--static {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: unset !important;
  opacity: 1;
  margin-top: 1.6rem;
}
.card__link.card__link--static:not(.button--link) {
  width: 100%;
}
.card__link .loading-overlay__spinner {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__link .loading-overlay__spinner svg {
  width: 100%;
  height: 100%;
}
.card__link span {
  transition: opacity var(--duration-short);
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--text-only {
  display: flex;
  justify-content: center;
}

.card--text-only::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card--product {
  position: relative;
  border-radius: var(--border-radius-main);
}
.card--product img {
  border-radius: var(--border-radius-main);
}
.card--product svg:not(.icon) {
  background-color: rgba(var(--color-foreground), 0.04);
  fill: rgba(var(--color-foreground), 0.55);
}

.card__inner {
  background-color: rgba(var(--color-background));
}
.card__inner .media {
  border-radius: 0.3rem;
}
.card__inner .media img {
  background-color: rgb(var(--color-background-card));
}

.card--stretch {
  height: 100%;
}

.card--light-border {
  border: 0.1rem solid rgba(var(--color-base-text), 0.04);
  transition: var(--duration-short);
}

.card--light-border:hover {
  border: 0.1rem solid rgba(var(--color-base-text), 0.3);
  box-shadow: none;
}

.card__text-spacing {
  padding: 2rem;
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-base-text), 0.04);
}

.card--media .card__text-spacing {
  padding: 2rem;
  text-align: center;
}

.card--text-only .card__inner {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
}

.card__content {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card__content > * {
  margin: 0;
}

.card--text-only .card__content {
  grid-row: 2;
  justify-self: center;
  margin-bottom: 6rem;
  margin-top: 5rem;
}

.color--silwer {
  color: rgba(var(--color-foreground), 0.4);
  text-decoration-color: rgba(var(--color-foreground), 0.4);
}

.card--text-only .card__badge {
  align-self: flex-end;
  grid-row: 3;
}

.card--search .card__badge > *,
.card--text-only .card__badge > * {
  margin: 0 1rem 1rem;
}

.card--search .card__badge,
.card--text-only .card__badge {
  position: initial;
}

.card--text-only .card__content + .card__badge {
  margin-top: -5rem;
}

.card--search .card__content {
  justify-self: flex-start;
  text-align: left;
}

.media + .card__content {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-wrapper .media {
  padding: 0;
  border-radius: var(--border-radius-main);
}

.card-wrapper .media > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

@media screen and (min-width: 750px) {
  .card--text-only .card__content {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .card--text-only .card__content + .card__badge {
    margin-top: -7rem;
  }
}
.card__text-spacing > * {
  margin: 0;
}

.card__text-spacing > *:not(.overlay-card) + * {
  margin-top: 0.5rem;
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card--text-only .card__text {
  text-align: center;
}

.card-information__text {
  display: block;
  padding-right: 1.2rem;
}

.card__title a {
  transition: all var(--duration-default) linear;
}
.card__title a:hover {
  opacity: 0.7;
}

.card__collection-title {
  position: relative;
  opacity: 0.6;
  transition: all var(--duration-default) linear;
  font-size: calc(var(--font-subtitle-scale) * 1rem);
  z-index: 4;
}
.card__collection-title:hover {
  opacity: 0.8;
}

.price-item {
  letter-spacing: -0.01em;
  transition: var(--duration-short);
}

.collection-product-card {
  padding: 0;
  border-radius: 8px;
  width: 100%;
}

.cart__footer-wrapper + .collection-products-section .collection-product-card:hover .card__link {
  opacity: 0;
}

.card-wrapper:focus-within .card {
  box-shadow: none;
}

.card__media-spacer {
  padding: 2rem;
}

@media screen and (min-width: 750px) {
  .card__media-spacer {
    padding: 3rem;
  }
}
.card-article-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card__badge {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  opacity: 1;
  z-index: 3;
  gap: 0.5rem;
}

.card__badge {
  transition: opacity var(--duration-default);
}
.card__badge .badge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: var(--border-radius-badge);
  background-color: rgb(var(--color-badge-background));
  color: rgb(var(--color-badge-text));
  font-size: 1.2rem;
  font-weight: var(--font-button-weight);
}

@media screen and (min-width: 1100px) {
  .card .media.media--hover-effect > img,
  .card-wrapper .media.media--hover-effect > img {
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .card__inner .media.media--hover-effect {
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .card--search img {
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .card-wrapper:hover .card__heading {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  .card-wrapper:hover .card.card--search {
    background-color: rgba(var(--color-card-hover), 0.06);
    transition: background-color var(--duration-long) ease;
  }
}
@media screen and (max-width: 1100px) {
  .card-information {
    padding-top: 1.4rem;
  }
}
.product-card .card__collection-title {
  margin-top: 1.2rem;
  display: inline-block;
  text-transform: none;
}
.product-card .card-information-block .price {
  margin-top: 0.8rem;
}
.product-card .product-parameters {
  position: relative;
  margin-top: 1.2rem;
  z-index: 4;
}
.product-card .product-parameters:empty {
  display: none;
}
.product-card .card__description {
  margin-top: 1.2rem;
  color: rgba(var(--color-foreground-secondary));
  font-size: calc(var(--font-body-scale) * 1rem);
  text-transform: none;
}

@media screen and (min-width: 990px) {
  .quickview--hover:hover .card-wrapper__image {
    opacity: 1;
    transform: scale(1.05);
  }
  .quickview--hover:hover .placeholder-svg {
    transform: scale(1.05);
  }
  .quickview--hover:hover .media.media--hover-effect > img:first-child:not(:only-of-type) {
    opacity: 0;
    transform: scale(1.05);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .quickview--hover:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .quickview--hover:hover .media.media--hover-effect > img {
    transform: scale(1.05);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .quickview--hover:hover .card__badge {
    opacity: 0;
    pointer-events: none;
  }
  .quickview--hover:hover .card__link {
    opacity: 1;
  }
  .quickview--hover:hover .button--link {
    transform: unset;
  }
  .quickview--hover:hover .button--link > svg {
    transform: scale(1.05);
  }
}

.card__sku {
  margin: 0;
  margin-top: 1rem;
  font-size: calc(var(--font-subtitle-scale) * 1rem);
  text-transform: none;
}