.js-split-text {
  opacity: 0;
}
.js-split-text.visible {
  opacity: 1;
}
.js-split-text .line {
  display: none;
  line-height: inherit;
  overflow: hidden;
}
.js-split-text .line.animated > * {
  animation: slide-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}
.js-split-text .line > * {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
@keyframes slide-in {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    overflow: visible;
  }
}

.slideshow-slide__desc.js-fade {
  opacity: 0;
  transition: opacity 500ms;
}
.slideshow-slide__desc.js-fade.visible {
  opacity: 1;
}

.slideshow__button-wrapper.js-fade {
  opacity: 0;
  transition: opacity 500ms;
}
.slideshow__button-wrapper.js-fade.visible {
  opacity: 1;
}