.badge {
  padding: 0.2rem 0.6rem;
  display: inline-block;
  border-radius: var(--border-radius-badge);
  background: rgb(var(--color-badge-background));
  color: rgb(var(--color-badge-text));
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: capitalize;
}