.article {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.article-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
}
.article-card:hover a img, .article-card:hover a svg {
  transform: scale(1.05);
}
.article-card__image {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius-main);
}
.article-card__image-wrapper {
  border-radius: var(--border-radius-main);
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
}
.article-card__image-wrapper::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.article-card__image img,
.article-card__image svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--duration-default) ease-in-out;
  border-radius: var(--border-radius-main);
}
.article-card__header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.article-card__title {
  margin: 0;
  display: block;
  word-break: break-word;
}
.article-card__title a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: inherit;
  transition: opacity var(--duration-default);
}
.article-card__title a:hover {
  opacity: 0.7;
}
.article-card__excerpt {
  margin: 0;
  color: rgb(var(--color-foreground-secondary));
}
.article-card__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
@media (max-width: calc(750px - 1px)) {
  .article-card__meta .icon-bullet {
    width: 15px;
    height: 11px;
  }
}
.article-card__tags {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  gap: 0.8rem;
}
.article-card__tags-separator {
  color: rgb(var(--color-foreground));
  font-size: 1.2rem;
  margin: 0 0.4rem;
}
.article-card__tag {
  margin: 0;
  color: rgb(var(--color-foreground-title));
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  font-weight: 500;
}
.article-card__tag a {
  display: inline-block;
  text-decoration: none;
  color: rgb(var(--color-foreground-title));
  transition: opacity var(--duration-default) ease;
}
.article-card__tag a:hover {
  opacity: 0.7;
}
.article-card__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.article-card__author {
  color: rgb(var(--color-foreground));
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
.article-card__date {
  display: inline-block;
  color: rgb(var(--color-foreground));
  font-size: 1.2rem;
  font-weight: 500;
}
.article-card-link {
  display: block !important;
  position: absolute;
  inset: 0;
}