.collection-hero.container .collection-hero__wrapper {
  border-radius: var(--border-radius-main);
}
.collection-hero .breadcrumb {
  margin-top: 0;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1100px) {
  .collection-hero .breadcrumb {
    margin-bottom: 2.4rem;
  }
}
.collection-hero__wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}
.collection-hero__wrapper .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.collection-hero__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(var(--color-overlay), var(--opacity-overlay));
}
.collection-hero__wrapper::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.collection-hero__inner {
  position: relative;
  z-index: 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1100px) {
  .collection-hero__inner {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.collection-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.collection-hero__title {
  margin: 0;
}
.collection-hero__description {
  max-width: 52.3rem;
  color: rgb(var(--color-foreground-secondary)) !important;
  font-size: calc(var(--font-body-scale) * 1rem) !important;
  line-height: 120% !important;
}
@media screen and (min-width: 1360px) {
  .collection-hero__description {
    font-size: calc(var(--font-body-scale) * 1.3333333333rem) !important;
  }
}
.collection-hero__description p {
  color: rgb(var(--color-foreground-secondary));
}
.collection-hero__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-hero__image-container {
  display: flex;
  background-color: transparent;
}
.collection-hero__image-container::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: 42.8571428571%;
}
.collection-hero[data-header-overlay=true] .collection-hero__inner {
  padding-top: calc(2rem + var(--header-height));
}
@media screen and (min-width: 1100px) {
  .collection-hero[data-header-overlay=true] .collection-hero__inner {
    padding-top: calc(4rem + var(--header-height));
  }
}

.type-filter__list {
  margin-top: 2.8rem;
  display: flex;
  align-items: center;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 50rem;
  gap: 2.4rem;
  padding: 0;
}
.type-filter__list .type-filter__label {
  opacity: 0.6;
  flex: none;
}
.type-filter__list .active_opacity {
  opacity: 1;
}
.type-filter__list .h4 {
  margin: 0;
}
.type-filter__list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.type-filter__list::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
}
.type-filter__list li {
  flex: none;
}

.type-filter__label:hover {
  opacity: 1;
}