
/* Use this file to override styling (i.e. theme colors on buttons not being transparent etc. */

/* Bold multicolumn card headings */
.multicolumn-card__heading {
  font-weight: bold !important;
}

/* Add margin-bottom to headings in accordian blocks */
.collapsible-content__answer-inner h1,
.collapsible-content__answer-inner h2,
.collapsible-content__answer-inner h3,
.collapsible-content__answer-inner h4,
.collapsible-content__answer-inner h5,
.collapsible-content__answer-inner h6 {
  margin: 0 !important;
  margin-bottom: 1.6rem !important;
  color: rgb(var(--color-foreground-secondary)) !important;
}

/* Add margin-bottom to text in slideshow slide blocks */
.slideshow-slide__desc h1,
.slideshow-slide__desc h2,
.slideshow-slide__desc h3,
.slideshow-slide__desc h4,
.slideshow-slide__desc h5,
.slideshow-slide__desc h6,
.slideshow-slide__desc p {
  margin-bottom: 1.6rem;
}
iframe button {
  background: transparent;
}
#_builder-form {
  box-shadow: none !important;
}