.products-grid__content {
  overflow: hidden;
}
.products-grid__wrapper {
  display: grid;
  gap: 4rem 1.6rem;
}
.products-grid__wrapper--1 {
  grid-template-columns: 1fr;
}
.products-grid__wrapper--2 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .products-grid__wrapper--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.products-grid__wrapper--3 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .products-grid__wrapper--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .products-grid__wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.products-grid__wrapper--4 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .products-grid__wrapper--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .products-grid__wrapper--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .products-grid__wrapper--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .products-grid__wrapper--2-mobile:not(.popular-products__wrapper--1) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .products-grid__wrapper--2-mobile .collection-product-card .card-information__wrapper {
    padding: 0 2rem;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .card-information__wrapper--left {
    padding-left: 0;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .card__title {
    font-size: 1.4rem;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .card__description {
    font-size: 1rem;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .card__badge {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
    max-width: 100%;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .badge {
    font-size: 1.1rem;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .card-information {
    padding: 0.8rem 0 0;
  }
  .products-grid__wrapper--2-mobile .collection-product-card .price {
    font-size: 1.4rem;
  }
}