.simple-media-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.simple-media-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  width: 100%;
  gap: var(--indent_value);
}
.simple-media-list__wrapper--1 {
  grid-template-columns: 1fr;
}
.simple-media-list__wrapper--2 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-media-list__wrapper--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.simple-media-list__wrapper--3 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-media-list__wrapper--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .simple-media-list__wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.simple-media-list__wrapper--4 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-media-list__wrapper--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .simple-media-list__wrapper--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .simple-media-list__wrapper--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.simple-media-list__wrapper--5 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-media-list__wrapper--5 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .simple-media-list__wrapper--5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .simple-media-list__wrapper--5 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1360px) {
  .simple-media-list__wrapper--5 {
    grid-template-columns: repeat(5, 1fr);
  }
}
.simple-media-list__wrapper--6 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .simple-media-list__wrapper--6 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .simple-media-list__wrapper--6 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .simple-media-list__wrapper--6 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1360px) {
  .simple-media-list__wrapper--6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .simple-media-list__wrapper--2-mobile:not(.simple-media-list__wrapper--1) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .simple-media-list__wrapper.simple-media-list__wrapper[class*="--1.6rem"] {
    gap: 0.8rem;
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .simple-media-list__wrapper.simple-media-list__wrapper[class*="--2.4rem"] {
    gap: 1.6rem;
  }
}
@media screen and (max-width: 989px) {
  .swiper--media .simple-media-list__wrapper {
    display: flex !important;
    grid-template-columns: none;
    gap: 0 !important;
  }
}
.simple-media-list .swipe-on-mobile__nav {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 750px) {
  .simple-media-list .swipe-on-mobile__nav {
    margin-bottom: 0;
  }
}

.simple-media-card {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  display: flex;
}
.simple-media-card.without-border-radius {
  border-radius: 0;
}
.simple-media-card.without-border-radius .simple-media-card__video video,
.simple-media-card.without-border-radius .simple-media-card__video iframe {
  border-radius: 0;
}
.simple-media-card::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.simple-media-card.adapt::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.simple-media-card.large::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: 100vh;
  padding-bottom: 100dvh;
}
.simple-media-card__wrapper {
  display: flex;
  padding: 3rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-width: 990px) {
  .simple-media-card__wrapper {
    padding: 4rem;
  }
}
.simple-media-card__content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 4;
}
.simple-media-card--center .simple-media-card__content {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.simple-media-card--left .simple-media-card__content {
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}
.simple-media-card__heading:last-child, .simple-media-card__heading:only-child, .simple-media-card__text:last-child, .simple-media-card__text:only-child {
  margin: 0;
}
.simple-media-card__subheading {
  max-width: 48rem;
}
.simple-media-card--left .simple-media-card__subheading {
  margin-bottom: auto;
}
.simple-media-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.simple-media-card__heading {
  margin: 0;
  overflow-wrap: anywhere;
  max-width: 52rem;
}
.simple-media-card__text {
  font-size: calc(var(--font-body-scale) * 1rem);
  max-width: 48rem;
  opacity: 0.8;
  color: rgb(var(--color-foreground));
}
@media screen and (min-width: 1100px) {
  .simple-media-card__text {
    font-size: calc(var(--font-body-scale) * 1.3333333333rem);
  }
}
.simple-media-card__text p {
  margin: 0;
  color: rgb(var(--color-foreground));
}
.simple-media-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  pointer-events: all;
  z-index: 4;
}
.simple-media-card__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.simple-media-card__image.placeholder {
  background-color: rgba(var(--color-background));
}
.simple-media-card__image > svg,
.simple-media-card__image > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.simple-media-card__video {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.simple-media-card__video video,
.simple-media-card__video iframe {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: var(--border-radius-main);
}
.simple-media-card__video-buttons {
  position: absolute;
  z-index: 3;
  top: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  pointer-events: all;
}
@media screen and (min-width: 750px) {
  .simple-media-card__video-buttons {
    top: 4rem;
    right: 4rem;
  }
}
.simple-media-card__video-buttons .button--play {
  color: rgb(var(--color-foreground));
  padding: 0;
}
.simple-media-card__video-buttons .button--play svg path {
  stroke: rgb(var(--color-foreground));
}
.simple-media-card__video-buttons .button--play .button-icon-pause {
  opacity: 0;
}
.simple-media-card__video-buttons .button--play .button-icon-play {
  opacity: 1;
}
.simple-media-card__video-buttons .button--play.active .button-icon-pause {
  opacity: 1;
}
.simple-media-card__video-buttons .button--play.active .button-icon-play {
  opacity: 0;
}
.simple-media-card__video-buttons .button--sound {
  color: rgb(var(--color-foreground));
  padding: 0;
}
.simple-media-card__video-buttons .button--sound svg path {
  stroke: rgb(var(--color-foreground));
}
.simple-media-card__overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgb(var(--color-overlay));
  opacity: var(--opacity-card-overlay);
  transition: opacity var(--duration-default);
}
.simple-media-card__link-overlay {
  display: block !important;
  position: absolute;
  inset: 0;
  z-index: 3;
}
.simple-media-card:hover .simple-media-card__overlay.hover-effect {
  opacity: var(--opacity-card-hover);
}