.popular-products .swiper-button {
  transition: none;
  position: absolute;
  display: none;
}
.popular-products .swiper-button-prev {
  left: 3rem;
}
.popular-products .swiper-button-next {
  right: 3rem;
}
.popular-products .swiper-button-disabled {
  display: none !important;
}
@media (min-width: 750px) {
  .popular-products .swiper-button-disabled {
    display: none !important;
  }
}
.popular-products .swiper-pagination {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1.4rem;
  overflow-y: hidden;
  overflow-x: auto;
}
.popular-products .swiper-pagination::-webkit-scrollbar {
  height: 0.4rem;
}
.popular-products .swiper-pagination::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-border), 0.5);
  border-radius: 2rem;
}
@media (min-width: 750px) {
  .popular-products .swiper-pagination {
    display: none;
  }
}
.popular-products .products-slider__wrapper {
  position: relative;
}

.popular-products__wrapper {
  position: relative;
}
.popular-products__wrapper .collection-popular-card--placeholder {
  margin-right: 2.4rem;
}
.popular-products__wrapper .product-parameters {
  margin-bottom: 0;
}
.popular-products__wrapper .collection-product-card {
  width: calc(100% - 2.4rem);
}
@media screen and (min-width: 576px) {
  .popular-products__wrapper .collection-product-card {
    width: calc(50% - 2.4rem);
  }
}
@media screen and (min-width: 990px) {
  .popular-products__wrapper .collection-product-card {
    width: calc(25% - 2.4rem);
  }
}
.popular-products__wrapper .swiper-button {
  position: absolute;
}

.products-slider__swiper {
  padding-right: 2rem;
}
.products-slider__swiper:not(.swiper-initialized) .swiper-wrapper {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
}
@media screen and (min-width: 576px) {
  .products-slider__swiper:not(.swiper-initialized) .swiper-wrapper .products-slider__slide {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 990px) {
  .products-slider__swiper:not(.swiper-initialized) .swiper-wrapper .products-slider__slide {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}

.no-js .popular-products .popular-products__swiper {
  display: flex;
  gap: 2.4rem;
}
.no-js .popular-products .collection-product-card {
  flex: 0 0 25%;
  max-width: 25%;
}