.blog * {
  box-sizing: border-box;
}
.blog {
  overflow: hidden;
}
.blog .featured-blog-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 576px) {
  .blog .featured-blog-header {
    align-items: center;
    flex-direction: row;
  }
}
.blog .featured-blog-header .promo-block__button {
  max-width: 100%;
}
.blog .featured-blog-header .section-header {
  margin: 0;
}
.blog .featured-blog-header .button {
  width: fit-content;
}
.blog .article-card {
  color: rgb(var(--color-foreground));
}
.blog .article-card .article-card__excerpt {
  color: rgb(var(--color-foreground-secondary));
}
.blog .article-card .article-card__info,
.blog .article-card .article-card__title,
.blog .article-card .article-card__tag,
.blog .article-card .article-card__tags-separator,
.blog .article-card .article-card__date,
.blog .article-card .article-card__author {
  color: rgb(var(--color-foreground));
}
@media (min-width: 750px) {
  .blog__posts {
    margin-top: 4rem;
  }
}
.blog__posts-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem 1.6rem;
}
.blog__posts-wrapper--1 {
  grid-template-columns: 1fr;
}
.blog__posts-wrapper--2 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .blog__posts-wrapper--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.blog__posts-wrapper--3 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .blog__posts-wrapper--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .blog__posts-wrapper--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.blog__posts-wrapper--4 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .blog__posts-wrapper--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .blog__posts-wrapper--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .blog__posts-wrapper--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: calc(750px - 1px)) {
  .blog__posts-wrapper--2-mobile:not(.blog__posts-wrapper--1) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .blog__posts-wrapper--2-mobile .article-card {
    gap: 0.8rem;
  }
  .blog__posts-wrapper--2-mobile .article-card .article-content {
    padding: 0.8rem 0 0;
  }
  .blog__posts-wrapper--2-mobile .article-card .card__subtitle {
    font-size: 0.8rem;
  }
  .blog__posts-wrapper--2-mobile .article-card .article-card__title {
    font-size: 1.5rem;
  }
  .blog__posts-wrapper--2-mobile .article-card .article-card__header {
    padding-right: 1rem;
  }
  .blog__posts-wrapper--2-mobile .article-card .article-card__excerpt {
    font-size: 1.2rem;
  }
  .blog__posts-wrapper--2-mobile .article-card .article-card__tag,
  .blog__posts-wrapper--2-mobile .article-card .article-card__tags-separator,
  .blog__posts-wrapper--2-mobile .article-card .article-card__date,
  .blog__posts-wrapper--2-mobile .article-card .article-card__author {
    font-size: 1rem;
  }
  .blog__posts-wrapper--2-mobile .card-page .icon-wrapper {
    width: 2.4rem;
    height: 2.4rem;
  }
  .blog__posts-wrapper--2-mobile .card-page__title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 989px) {
  .swiper--articles .blog__posts-wrapper {
    display: flex;
    grid-template-columns: none;
    gap: 0;
  }
}
.blog__posts--grid .blog__posts-wrapper {
  display: grid;
  gap: 2.4rem 1.6rem;
}
@media screen and (max-width: 575px) {
  .blog__posts--grid .blog__posts-wrapper.blog__posts-wrapper--2-mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 0.8rem;
  }
  .blog__posts--grid .blog__posts-wrapper.blog__posts-wrapper--2-mobile .blog__post:first-of-type {
    grid-column: span 2;
  }
}
@media screen and (min-width: 576px) {
  .blog__posts--grid .blog__posts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .blog__posts--grid .blog__posts-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .blog__posts--grid .blog__posts-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 576px) {
  .blog__posts--grid .blog__posts-wrapper .blog__post:first-of-type {
    grid-column: span 2;
  }
}
@media screen and (min-width: 990px) {
  .blog__posts--grid .blog__posts-wrapper .blog__post:first-of-type {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.blog__posts--grid .blog__posts-wrapper .blog__post:first-of-type .article-card__header {
  max-width: 43.6rem;
}
.blog__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2.4rem 0;
}
.blog__nav-pagination {
  position: static;
}
.blog__nav .swiper-pagination {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 750px) {
  .blog__nav {
    display: none !important;
  }
}