.image-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.image-card {
  list-style: none;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
  background-color: #ffffff;
  cursor: pointer;
}
.image-card img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--section-modal-background-color);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms, visibility 300ms;
}

.team-modal h2, .team-modal p, .team-modal__quote-icon {
  color: var(--section-modal-text-color);
}

.team-modal.active {
  opacity: 1;
  visibility: visible;
}

.team-modal__inner {
  height: 100%;
  padding-top: 7rem;
  padding-bottom: 10rem;
  overflow: auto;
}

.team-modal__close {
  position: fixed;
  top: 2.5rem;
  right: 2rem;
  background-color: transparent;
}

.team-modal__close svg {
  color: black;
}

.team-modal__content {
  padding-top: 3rem;
  transform: translateY(200px);
  opacity: 0;
  transition: transform 2s cubic-bezier(0.42, 0.31, 0, 0.98), opacity 1.5s cubic-bezier(0.42, 0.31, 0, 0.98);
}

.team-modal__title {
  margin: 0;
}

.team-modal__description,
.team-modal__description p ~ p,
.team-modal__quote-text {
  margin-top: 2rem;
}

.team-modal__quote {
  margin-top: 3rem;
}

.team-modal__image {
  transform: translateY(-200px);
  opacity: 0;
  transition: transform 2s cubic-bezier(0.42, 0.31, 0, 0.98), opacity 1.5s cubic-bezier(0.42, 0.31, 0, 0.98);
}

.team-modal.active .team-modal__content,
.team-modal.active .team-modal__image {
  opacity: 1;
  transform: translateY(0);
}

.relative {
  position: relative;
}

.w1 {
  width: 100%;
  max-width: 100%;
}

.team-modal__wrapper {
  max-width: 120.6rem;
}

/* Images */
.img {
  position: relative;
}

.img::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: var(--padding-top, 50%);
}

.img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.img--rounded {
  border-radius: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .team-modal__wrapper {
    display: flex;
    gap: 3.6rem;
  }

  .team-modal__image,
  .team-modal__content {
    width: calc((100% - 3.6rem) / 2);
  }

  .team-modal__content {
    padding-top: 7rem;
  }

  .team-modal__title {
    font-size: 30px;
    margin: 0;
  }

  .team-modal__description {
    margin-top: 3rem;
  }

  .team-modal__quote {
    margin-top: 4rem;
  }

  .team-modal__quote-text {
    font-size: 35px;
  }
}

@media screen and (min-width: 990px) {
  .team-modal__inner {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .team-modal__close {
    top: 4rem;
    right: 4rem;
  }

  .team-modal__content {
    padding-top: 14rem;
  }
}

@media screen and (max-width: 749px) {
  .image-cards__wrapper {
    padding: 0;
  }
}