.blockquote {
  overflow: hidden;
}
.blockquote .blockquote-section-header .section-header__subtitle {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  margin-right: 16.6rem;
}
@media (max-width: calc(1100px - 1px)) {
  .blockquote .blockquote-section-header .section-header__subtitle {
    margin-right: 8rem;
  }
}
@media (max-width: calc(750px - 1px)) {
  .blockquote .blockquote-section-header .section-header__subtitle {
    margin-right: 4rem;
  }
}
.blockquote .blockquote-section-header .section-header__subtitle::before {
  display: none;
}
.blockquote .blockquote-section-header .section-header__subtitle.section-header__subtitle_dot::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: rgb(var(--color-accent));
  vertical-align: middle;
  line-height: var(--font-heading-line-height);
}
.blockquote__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
  flex-direction: column;
}
@media (max-width: calc(990px - 1px)) {
  .blockquote__block {
    gap: 2.4rem;
  }
}
.blockquote__text {
  margin: 0;
  display: inline;
  vertical-align: middle;
}
.blockquote__person-box {
  flex: none;
  max-width: 35rem;
  word-break: break-all;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
.blockquote .blockquote__person-name + .blockquote__person-position {
  margin-top: 0.5rem;
}
.blockquote__person-position {
  font-weight: 500;
  opacity: 0.7;
}
.blockquote__person-name {
  margin: 0;
}
.blockquote__person-img img,
.blockquote__person-img svg {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: center;
  display: block;
}