.featured-product {
  overflow: hidden;
  background-color: rgb(var(--color-background-secondary));
}
.featured-product .product__outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  margin: 0 auto;
}
@media (min-width: 990px) {
  .featured-product .product__outer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 5.5rem;
  }
}
@media (min-width: 1100px) {
  .featured-product .product__outer {
    gap: 8rem;
  }
}
@media (min-width: 1360px) {
  .featured-product .product__outer {
    gap: 12.1rem;
  }
}
.featured-product .product__outer--static-column-aside {
  max-width: 59.4rem;
}
@media (min-width: 990px) {
  .featured-product .product__outer--static-column-aside {
    max-width: 106.2rem;
  }
}
.featured-product .product__outer--static-column-aside .featured-product .product__main {
  max-width: 100%;
}
@media (min-width: 990px) {
  .featured-product .product__outer--static-column-aside .featured-product .product__main {
    max-width: 52rem;
    flex-grow: 1;
  }
}
@media (min-width: 1100px) {
  .featured-product .product__outer--static-column-aside .featured-product .product__main {
    max-width: 55.4rem;
  }
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-list {
  display: flex;
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-list-inner {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
}
@media (min-width: 990px) {
  .featured-product .product__outer--static-column-aside .featured-product .product__media-list-inner {
    flex-wrap: unset;
    flex-direction: column;
  }
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-list .deferred-media,
.featured-product .product__outer--static-column-aside .featured-product .product__media-list .product__media {
  border-radius: var(--border-radius-main);
  overflow: hidden;
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-list .product__media {
  min-height: 0;
  max-width: 55.4rem;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  display: flex;
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-list .product__media::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--aspect-ratio);
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-list .product__media > *:not(.deferred-media__poster-button) {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.featured-product .product__outer--static-column-aside .featured-product .product__media-item {
  width: calc(50% - 0.4rem);
}
@media (min-width: 990px) {
  .featured-product .product__outer--static-column-aside .featured-product .product__media-item {
    width: 100%;
  }
}
.featured-product .product__outer--static-column-aside .featured-product .product__modal-opener--image .product__media-icon {
  height: 3rem;
  width: 3rem;
  left: 2rem;
  bottom: 2rem;
  right: unset;
  top: unset;
}
@media (min-width: 990px) {
  .featured-product .product__outer--static-column-aside .featured-product .product__info-container {
    position: sticky;
    top: calc(var(--header-height) + 1.6rem);
  }
}
.featured-product .product__outer--static-column-aside .deferred-media__poster {
  padding-top: 0 !important;
  height: 100% !important;
  min-height: auto !important;
}
.featured-product .product__outer--thumbs-aside {
  align-items: flex-start;
}
.featured-product .product__outer--thumbs-aside .featured-product .product__main {
  max-width: 100%;
  width: 100%;
  top: 0;
}
@media (min-width: 990px) {
  .featured-product .product__outer--thumbs-aside .featured-product .product__main {
    max-width: 48.575rem;
    height: 100%;
    flex-grow: 1;
    position: sticky;
    top: calc(var(--header-height) + 1.6rem);
  }
}
@media (min-width: 1100px) {
  .featured-product .product__outer--thumbs-aside .featured-product .product__main {
    max-width: 67rem;
  }
}
.featured-product .product__outer--thumbs-aside .featured-product .product__media-list {
  max-width: 100%;
  flex-grow: 1;
}
@media (min-width: 990px) {
  .featured-product .product__outer--thumbs-aside .featured-product .product__media-list {
    max-width: 38.3rem;
  }
}
@media (min-width: 1100px) {
  .featured-product .product__outer--thumbs-aside .featured-product .product__media-list {
    max-width: 55.7rem;
  }
}
.featured-product .product__outer--thumbs-aside .featured-product .product__media-list .deferred-media,
.featured-product .product__outer--thumbs-aside .featured-product .product__media-list .product__media {
  border-radius: var(--border-radius-main);
  overflow: hidden;
}
.featured-product .product__outer--thumbs-aside .featured-product .product__media-list .product__media {
  min-height: 0;
  max-width: 100%;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  display: flex;
}
.featured-product .product__outer--thumbs-aside .featured-product .product__media-list .product__media::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--section-aspect-ratio);
}
@media (min-width: 990px) {
  .featured-product .product__outer--thumbs-aside .featured-product .product__media-list .product__media {
    max-width: 38.3rem;
  }
}
@media (min-width: 1100px) {
  .featured-product .product__outer--thumbs-aside .featured-product .product__media-list .product__media {
    max-width: 55.7rem;
  }
}
.featured-product .product__outer--thumbs-aside .featured-product .product__media-list .product__media > *:not(.deferred-media__poster-button) {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.featured-product .product__outer--thumbs-aside .featured-product .product__modal-opener--image .product__media-icon {
  left: 2rem;
  bottom: 2rem;
  right: unset;
  top: unset;
}
.featured-product .product__outer--thumbs-aside .deferred-media__poster {
  padding-top: 0 !important;
  height: 100% !important;
  min-height: auto !important;
}
.featured-product .product__outer--desktop-order {
  justify-content: flex-end;
}
@media (min-width: 750px) {
  .featured-product .product__outer--desktop-order.product__outer--thumbs-aside .featured-product .product__info-container, .featured-product .product__outer--desktop-order.product__outer--slideshow .featured-product .product__info-container {
    order: 1;
  }
}
@media (min-width: 750px) {
  .featured-product .product__outer--desktop-order.product__outer--thumbs-aside .featured-product .product__main, .featured-product .product__outer--desktop-order.product__outer--slideshow .featured-product .product__main {
    order: 2;
  }
}
@media (max-width: 989px) {
  .featured-product .product__outer--mobile-order .featured-product .product__main {
    order: 1;
  }
}
.featured-product .product__main {
  width: 100%;
  position: sticky;
  top: 0;
}
.featured-product .product__main.header-margin {
  margin-top: 0 !important;
}
.featured-product .product__main.header-margin-mobile {
  margin-top: var(--header-height) !important;
}
@media (min-width: 990px) {
  .featured-product .product__main {
    width: 50%;
  }
  .featured-product .product__main.header-margin {
    margin-top: var(--header-height) !important;
  }
}
.featured-product .product__info-container {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  transition: var(--duration-default);
}
.featured-product .product__info-container.header-margin-mobile .breadcrumbs-wrapper {
  padding: 0;
  margin-bottom: 2.4rem;
  background: transparent;
}
@media (min-width: 990px) {
  .featured-product .product__info-container.header-margin-mobile .breadcrumbs-wrapper .breadcrumb.breadcrumb-thumbs_aside {
    margin-top: 4.5rem;
  }
}
.featured-product .product__info-container.header-margin-mobile .breadcrumbs-wrapper .breadcrumb.breadcrumb-default {
  margin-top: 3.8rem;
}
@media (min-width: 990px) {
  .featured-product .product__info-container.header-margin-mobile .breadcrumbs-wrapper .breadcrumb.breadcrumb-default {
    margin-top: 8.3rem;
  }
}
.featured-product .product__info-container .breadcrumbs-wrapper {
  padding: 0;
  margin-bottom: 2.4rem;
  background: transparent;
}
.featured-product .product__info-container .breadcrumbs-wrapper .breadcrumb {
  margin: 0;
}
@media (min-width: 990px) {
  .featured-product .product__info-container .breadcrumbs-wrapper .breadcrumb.breadcrumb-thumbs_aside {
    margin-top: 4.5rem;
  }
}
.featured-product .product__info-container .breadcrumbs-wrapper .breadcrumb.breadcrumb-default {
  margin-top: 3.8rem;
}
@media (min-width: 990px) {
  .featured-product .product__info-container .breadcrumbs-wrapper .breadcrumb.breadcrumb-default {
    margin-top: 8.3rem;
  }
}
.featured-product .product__info-container.header-margin {
  margin-top: 0 !important;
}
.featured-product .product__info-container.header-margin-mobile {
  margin-top: var(--header-height) !important;
}
@media (min-width: 990px) {
  .featured-product .product__info-container {
    margin-top: 0;
    width: 43.6rem;
  }
  .featured-product .product__info-container.container {
    margin: 0;
    padding: 0;
    margin-right: 2rem;
    padding-bottom: 2rem;
  }
  .featured-product .product__info-container.header-margin {
    margin-top: var(--header-height) !important;
  }
}
.featured-product .product__info-container > * {
  width: 100%;
}
@media (min-width: 990px) {
  .featured-product .product__info-container > * {
    max-width: 43.6rem;
  }
}
.featured-product .product__media-toggle, .featured-product .product__media-icon {
  display: none;
}
.featured-product .product__media-list.without-border-radius {
  border-radius: 0 !important;
}
.featured-product .product .text_with_icon {
  width: max-content !important;
  margin: 0 auto;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 0.8rem;
}
.featured-product .product .text_with_icon:last-child {
  margin-bottom: 2rem;
}
.featured-product .product .text_with_icon__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.featured-product .product .text_with_icon__item_text {
  color: #161616;
}
.featured-product .product .text_with_icon__item svg,
.featured-product .product .text_with_icon__item img {
  fill: none;
  height: 2rem;
  width: 2rem;
}
.featured-product .product .text_with_icon + .share-buttons {
  margin-top: 2rem;
}
@media screen and (max-width: calc(1100px - 1px)) {
  .featured-product__container {
    padding: 0;
  }
}
.featured-product .countdown {
  border-radius: var(--border-radius-main);
  background-color: rgb(var(--color-background-secondary));
  border: 1px solid rgb(var(--color-accent));
  overflow: hidden;
}
.featured-product .countdown:not(:last-child) {
  margin-bottom: 3.2rem;
}
.featured-product .countdown .countdown__block_num {
  font-weight: var(--font-button-weight);
  font-size: 1.2rem;
}
.featured-product .countdown .countdown__end-info {
  padding: 2rem;
}
.featured-product .countdown__wrapper {
  border-radius: var(--border-radius-main);
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.4rem;
}
.featured-product .countdown__wrapper.countdown-padding {
  padding-bottom: 1.4rem;
}
.featured-product .countdown__content {
  max-width: unset;
  max-width: 35.8rem;
}
.featured-product .countdown__text {
  text-align: center;
  width: 100%;
}
.featured-product .countdown__block {
  position: relative;
  border: none;
}
.featured-product .countdown__block:last-child::after {
  display: none;
}
.featured-product .countdown__block::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  border-radius: 2px;
  height: 2.6rem;
  width: 0.2rem;
  background-color: rgb(var(--color-accent));
}
.featured-product__wrapper {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 576px) {
  .featured-product__wrapper {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
}
@media (min-width: 990px) {
  .featured-product__wrapper {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
  }
}
.featured-product__wrapper .deferred-media {
  display: flex;
  align-items: center;
}
.featured-product__wrapper .product .deferred-media__poster-button {
  display: flex;
}
.featured-product__bg-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
@media (min-width: 576px) {
  .featured-product__bg-image {
    display: block;
  }
}
@media (min-width: 1100px) {
  .featured-product__bg-image {
    border-radius: var(--border-radius-main);
    overflow: hidden;
  }
}
.featured-product__bg-image svg,
.featured-product__bg-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.featured-product__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(var(--color-overlay));
  transition: opacity var(--duration-default);
}