.main-blog__wrapper {
  position: relative;
}
.main-blog__wrapper + .main-blog__articles {
  margin-top: 3.2rem;
}
@media screen and (min-width: 1100px) {
  .main-blog__wrapper + .main-blog__articles {
    margin-top: 4.8rem;
  }
}
@media screen and (min-width: 1360px) {
  .main-blog__wrapper + .main-blog__articles {
    margin-top: 7.2rem;
  }
}
.main-blog__title {
  margin: 2rem 0 1.6rem;
}
@media screen and (min-width: 576px) {
  .main-blog__title {
    margin: 2.8rem 0 2.4rem;
  }
}
.main-blog__title h1 {
  margin: 0;
}

.blog-articles {
  display: grid;
  gap: 3.2rem 1.6rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 576px) {
  .blog-articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .blog-articles {
    gap: 7.2rem 1.6rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: calc(576px - 1px)) {
  .blog-articles--2-mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-articles--2-mobile .blog-articles__article--featured {
    grid-column: 1/3 !important;
  }
  .blog-articles--2-mobile .article-card__title {
    font-size: 1.5rem;
  }
  .blog-articles--2-mobile .article-card__header {
    padding-right: 1rem;
  }
  .blog-articles--2-mobile .article-card__excerpt {
    font-size: 1.2rem;
  }
  .blog-articles--2-mobile .article-card__tag,
  .blog-articles--2-mobile .article-card__tags-separator,
  .blog-articles--2-mobile .article-card__date,
  .blog-articles--2-mobile .article-card__author {
    font-size: 1rem;
  }
}
.blog-articles__article--featured {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-top: 0.1rem solid rgb(var(--color-border));
  border-bottom: 0.1rem solid rgb(var(--color-border));
  margin-bottom: -0.8rem;
}
@media screen and (min-width: 576px) {
  .blog-articles__article--featured {
    grid-column: span 2;
  }
}
@media screen and (min-width: 750px) {
  .blog-articles__article--featured {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
@media screen and (min-width: 990px) {
  .blog-articles__article--featured {
    grid-column: span 3;
    margin-bottom: -4.8rem;
  }
}