.footer {
  position: relative;
  background-color: rgb(var(--color-background));
  z-index: 10;
}
.footer .link {
  font-family: var(--font-footer-menu-family);
  font-style: var(--font-footer-menu-style);
  font-weight: var(--font-footer-menu-weight);
  font-size: var(--font-footer-link-size);
}
.footer .accordion {
  margin-top: 0;
}
.footer .accordion .collapsible-content__icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.footer .accordion .collapsible-content__icon .icon-minus {
  display: none;
}
.footer .accordion .collapsible-content__icon .icon-plus {
  display: block;
}
.footer .accordion .collapsible-content__icon.active .icon-minus {
  display: block;
}
.footer .accordion .collapsible-content__icon.active .icon-plus {
  display: none;
}
.footer .accordion .collapsible-content__icon svg {
  transition: transform var(--duration-default);
}
@media screen and (min-width: 990px) {
  .footer .accordion {
    display: none;
  }
}
.footer .accordion:empty + .footer-block {
  margin-top: 0;
}
.footer .accordion:not(.footer-block--logo + .accordion):not(.contacts + .accordion) {
  border-top: none;
}
.footer .accordion .footer-block__heading {
  padding-block: 0.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 990px) {
  .footer .accordion:first-child + .footer-block:last-child li,
  .footer .accordion .footer-block:only-child li {
    display: inline;
  }
}
.footer__logo {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer__logo--placeholder-text {
  font-weight: 700;
  font-size: calc(var(--font-body-scale) * 1rem);
}
@media screen and (min-width: 1100px) {
  .footer__logo--placeholder-text {
    font-size: calc(var(--font-body-scale) * 1.3333333333rem);
  }
}
.footer__logo-link {
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1;
}
.footer__logo--overlay {
  display: none;
}
.footer__content-top {
  display: block;
  padding-block: 5rem;
}
@media screen and (min-width: 990px) {
  .footer__content-top {
    padding-block: 6.4rem;
  }
}
.footer__blocks-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .footer__blocks-wrapper {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 4.8rem;
  }
}
@media screen and (min-width: 1100px) {
  .footer__blocks-wrapper {
    gap: 8rem;
  }
}
@media screen and (min-width: 1360px) {
  .footer__blocks-wrapper {
    gap: 10rem;
  }
}
@media screen and (min-width: 990px) {
  .footer__blocks-wrapper > :not(.footer-block--menu):first-child {
    margin-right: auto;
  }
}
@media screen and (min-width: 990px) {
  .footer__blocks-wrapper > :not(.footer-block--menu):last-child {
    margin-left: auto;
  }
}
.footer-block {
  position: relative;
}
.footer-block .footer__list-social-wrapper {
  margin-top: 2.4rem;
}
.footer-block:empty {
  display: none;
}
.footer-block--logo {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .footer-block--logo {
    flex: 0 1 20rem;
  }
}
@media screen and (min-width: 1100px) {
  .footer-block--logo {
    flex: 0 1 26rem;
  }
}
@media screen and (min-width: 1360px) {
  .footer-block--logo {
    flex: 0 1 32rem;
  }
}
.footer-block--logo + .accordion, .footer-block--logo + .footer-block--contacts {
  margin-top: 2.4rem;
}
@media screen and (min-width: 750px) {
  .footer-block--logo + .accordion, .footer-block--logo + .footer-block--contacts {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 990px) {
  .footer-block--logo + .accordion, .footer-block--logo + .footer-block--contacts {
    margin-top: 0;
  }
}
.footer-block--menu {
  display: none;
}
@media screen and (min-width: 990px) {
  .footer-block--menu {
    flex: none;
    display: block;
    margin-top: 0;
    max-width: 15rem;
  }
}
.footer-block--menu + .footer-block--logo, .footer-block--menu + .footer-block--contacts {
  margin-top: 2.4rem;
}
@media screen and (min-width: 750px) {
  .footer-block--menu + .footer-block--logo, .footer-block--menu + .footer-block--contacts {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 990px) {
  .footer-block--menu + .footer-block--logo, .footer-block--menu + .footer-block--contacts {
    margin-top: 0;
  }
}
.footer-block--contacts {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (min-width: 990px) {
  .footer-block--contacts {
    gap: 3.2rem;
  }
}
.footer-block--contacts > .footer-block__text {
  margin-bottom: 1.6rem;
}
.footer-block--contacts + .footer-block--logo, .footer-block--contacts + .accordion {
  margin-top: 2.4rem;
}
@media screen and (min-width: 750px) {
  .footer-block--contacts + .footer-block--logo, .footer-block--contacts + .accordion {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 990px) {
  .footer-block--contacts + .footer-block--logo, .footer-block--contacts + .accordion {
    margin-top: 0;
  }
}
.footer-block__heading {
  margin-top: 0;
  margin-bottom: 1.6rem;
  color: rgb(var(--color-foreground-title));
  text-transform: uppercase;
}
.footer-block__contacts {
  display: flex;
  flex-direction: column;
}
.footer-block__contacts-label {
  margin: 0;
  padding: 0;
  margin-bottom: 0.8rem;
  font-family: var(--font-button-family);
  font-weight: var(--font-button-weight);
  font-style: var(--font-button-style);
  font-size: 1.2rem;
  letter-spacing: calc(var(--font-heading-letter-spacing) * 0.1);
  color: rgb(var(--color-foreground-title));
}
@media screen and (min-width: 990px) {
  .footer-block__contacts-label {
    margin-bottom: 1.6rem;
  }
}
.footer-block__contacts-text {
  color: rgb(var(--color-foreground), 0.8);
  margin: 0;
  padding: 0;
  font-size: calc(var(--font-body-scale) * 1rem);
}
.footer-block__contacts a {
  color: rgb(var(--color-foreground), 0.8);
  text-decoration: none;
  transition: color var(--duration-default);
  font-size: calc(var(--font-body-scale) * 1rem);
}
.footer-block__contacts a:not(:last-child) {
  margin-bottom: 0.8rem;
}
.footer-block__contacts a:hover {
  color: rgba(var(--color-foreground), 1);
}
.footer-block__contacts a[href^="mailto:"] {
  color: rgba(var(--color-foreground));
  transition: opacity var(--duration-default);
}
.footer-block__contacts a[href^="mailto:"]:hover {
  opacity: 0.7;
}
.footer-block__details-content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
@media screen and (min-width: 990px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }
}
.footer-block__details-content .list-menu__item {
  padding: 0;
}
.footer-block__details-content .list-menu__item--link {
  font-family: var(--font-footer-menu-family);
  font-style: var(--font-footer-menu-style);
  font-weight: var(--font-footer-menu-weight);
  color: rgb(var(--color-foreground), 0.8);
  text-decoration: none;
}
.footer-block__details-content .list-menu__item--link:hover {
  color: rgb(var(--color-foreground));
}
@media screen and (min-width: 990px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-flex;
    position: relative;
  }
}
@media screen and (min-width: 1600px) {
  .footer-block__details-content .list-menu__item--link {
    font-size: inherit;
  }
}
.footer-block__details-content .list-menu__item--link span::after {
  bottom: 0;
}
.footer-block__details-content li:first-child .link {
  padding-top: 3rem;
}
@media screen and (min-width: 990px) {
  .footer-block__details-content li:first-child .link {
    padding-top: 0;
  }
}
@media screen and (min-width: 990px) {
  .footer-block__details-content li:last-child .link {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 990px) {
  .footer-block__details-content > p, .footer-block__details-content > li {
    padding: 0;
  }
}
@media screen and (min-width: 990px) {
  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
    margin-top: 0;
  }
}
.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}
.footer-block__text {
  color: rgb(var(--color-foreground));
  word-break: break-word;
  max-width: 100%;
  overflow-wrap: anywhere;
  margin-top: 1.6rem;
  font-size: 1.4rem;
}
@media screen and (min-width: 750px) {
  .footer-block__text {
    max-width: 50%;
  }
}
@media screen and (min-width: 990px) {
  .footer-block__text {
    max-width: 100%;
  }
}
@media screen and (min-width: 1360px) {
  .footer-block__text {
    font-size: 1.6rem;
  }
}
.footer-block__text a {
  color: rgba(var(--color-foreground));
  text-decoration: underline;
  text-decoration-color: rgba(var(--color-foreground));
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  transition: color var(--duration-default), text-decoration var(--duration-default);
}
.footer-block__text a:hover {
  color: rgba(var(--color-foreground), 0.7);
  text-decoration-color: rgba(var(--color-foreground), 0.7);
}
.footer__content-center-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem 4rem;
  padding-block: 2.4rem;
  padding-top: 0;
}
@media screen and (min-width: 990px) {
  .footer__content-center-container {
    border-top: 0.1rem solid rgb(var(--color-foreground), 0.1);
    padding-block: 4rem;
  }
}
@media screen and (min-width: 990px) {
  .footer__content-center-container_grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}
.footer__list-social-wrapper {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 990px) {
  .footer__list-social-wrapper .list-social {
    justify-content: flex-end;
  }
}
.footer__content-bottom-container {
  border-top: 0.1rem solid rgb(var(--color-foreground), 0.1);
  display: flex;
  padding-block: 2.4rem;
}
@media screen and (min-width: 990px) {
  .footer__content-bottom-container {
    padding-block: 4rem;
  }
}
.footer__content-bottom-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.6rem 4.6rem;
}
.footer__localization {
  display: flex;
  gap: 1.2rem;
}
.footer__localization:empty {
  display: none;
}
.footer__localization localization-form {
  display: block;
}
.footer__localization .localization-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  margin: 0 auto;
}
.footer__localization .localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
}
@media screen and (max-width: 989px) {
  noscript .footer__localization .localization-form:only-child {
    width: 100%;
  }
}
.footer__localization .localization-form .button {
  padding: 1rem;
}
@media screen and (max-width: 989px) {
  .footer__localization .localization-form .button {
    word-break: break-all;
  }
}
.footer__localization .localization-form__currency {
  display: inline-block;
  flex: none;
}
.footer__localization .localization-form__select {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}
noscript .footer__localization .localization-form__select {
  padding-left: 0rem;
}
@media screen and (min-width: 990px) {
  noscript .footer__localization .localization-form__select {
    min-width: 20rem;
  }
}
@media screen and (min-width: 990px) {
  .footer__localization .localization-form__select + .button {
    margin-top: 0.8rem;
  }
}
.footer__localization .localization-selector.link {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.3rem;
  color: rgb(var(--color-foreground));
  border-radius: var(--border-radius-button);
  border: none;
  background-color: transparent;
}
.no-js .footer__localization .localization-selector.link {
  padding: 0.4rem 1rem;
}
.footer__localization .localization-selector option {
  color: #000000;
}
.footer__localization .localization-selector + .disclosure__list {
  animation: animateLocalization var(--duration-default) ease;
}
.footer__localization .localization-selector .icon-caret {
  color: rgba(var(--color-foreground));
  transition: transform var(--duration-default);
  margin-left: 0.6rem;
}
.footer__localization .localization-selector[aria-expanded=true] .icon-caret {
  transform: rotate(-180deg);
}
.footer__list-social:empty {
  display: none;
}
.footer__list-social .list-social__item--placeholder:not(:only-child) {
  display: none;
}
.footer__list-social.list-social .list-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__list-social.list-social .list-social__item:hover .icon {
  opacity: 0.7;
}
.footer__copyright {
  margin: 0;
  font-size: 1.2rem;
  color: rgb(var(--color-foreground), 0.8);
  line-height: 1.8;
}
.footer__copyright .copyright__content a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: color var(--duration-default);
  line-height: 1.8;
}
@media screen and (min-width: 990px) {
  .footer__copyright .copyright__content a {
    position: relative;
    display: inline-flex;
  }
}
.footer__copyright .copyright__content a:hover {
  color: rgb(var(--color-foreground));
}
.footer__policies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  text-transform: capitalize;
  order: 3;
}
@media screen and (min-width: 990px) {
  .footer__policies {
    gap: 1.6rem;
  }
}
@media screen and (min-width: 1100px) {
  .footer__policies {
    order: unset;
  }
}
.footer__policies a {
  font-family: var(--font-footer-menu-family);
  font-style: var(--font-footer-menu-style);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: opacity var(--duration-default);
}
.footer__policies a:hover {
  opacity: 0.7;
}
.footer__follow-on-shop {
  order: 4;
}
@media screen and (min-width: 1100px) {
  .footer__follow-on-shop {
    text-align: right;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer details[open] summary ~ * {
  animation: appear-down var(--duration-default) ease;
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
@media (prefers-color-scheme: dark) {
  [data-scheme=auto] .footer__logo {
    display: none;
  }
  [data-scheme=auto] .footer__logo--overlay {
    display: block;
  }
  [data-scheme=auto] .footer__logo:only-child {
    display: block;
  }
}
[data-scheme=dark] .footer__logo {
  display: none;
}
[data-scheme=dark] .footer__logo--overlay {
  display: block;
}
[data-scheme=dark] .footer__logo:only-child {
  display: block;
}