.gift-card {
  padding-bottom: 3.4rem;
}

.gift-card__title {
  text-align: center;
  word-break: break-word;
  padding: 4rem 0 1.7rem;
}

@media only screen and (min-width: 990px) {
  .gift-card__title {
    padding: 6rem 0 2.6rem;
  }
}
.gift-card__image-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: space-between;
  gap: 3.2rem;
  margin: 0 auto;
  padding: 2.4rem;
  width: 100%;
  min-height: 50vw;
  border-radius: 0.4rem;
  overflow: hidden;
}
@media only screen and (min-width: 576px) {
  .gift-card__image-wrapper {
    width: 48.6rem;
    min-height: 28.8rem;
  }
}
.gift-card__image-wrapper-title {
  font-size: 2rem;
}
@media only screen and (min-width: 750px) {
  .gift-card__image-wrapper-title {
    font-size: 3rem;
  }
}
.gift-card__image-wrapper-price {
  font-size: 2rem;
  text-align: right;
}
@media only screen and (min-width: 750px) {
  .gift-card__image-wrapper-price {
    margin-top: 0.4rem;
    font-size: 2.4rem;
  }
}
.gift-card__image-wrapper-logo {
  margin-top: auto;
}
.gift-card__image-wrapper-text {
  margin-top: auto;
  text-align: right;
  font-size: 1.2rem;
  opacity: 0.5;
}

.gift-card__image {
  max-width: 100%;
  padding: 0 2rem;
  height: auto;
}

@media only screen and (min-width: 750px) {
  .gift-card__image {
    padding: 0;
  }
}
.gift-card__heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 1100px) {
  .gift-card__heading {
    margin-bottom: 4.8rem;
  }
}

.gift-card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.gift-card__price > p:first-child {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__price {
    font-size: 1.8rem;
  }
}
.gift-card__label:not(.badge) {
  font-weight: 400;
  opacity: 0.7;
}

.gift-card__number {
  background-color: rgb(var(--color-background));
  border: none;
  color: rgb(var(--color-base-text));
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__number {
    font-size: 1.8rem;
  }
}
.gift-card__text {
  margin-bottom: 4rem;
  opacity: 0.7;
}

.gift-card__information {
  margin-top: 2.4rem;
  text-align: center;
}

.gift-card__label {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  display: inline;
  margin-left: 1rem;
}

.badge {
  border: 1px solid transparent;
  margin: 1.7rem 0 1rem 1rem;
  border-radius: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 0.6rem 1.3rem;
  text-align: center;
  background-color: rgb(var(--color-background));
  border-color: rgba(var(--color-base-text), 0.04);
  color: rgb(var(--color-base-text));
}

.badge--inverse {
  background-color: rgb(var(--color-base-text));
  border-color: rgb(var(--color-base-text));
  color: rgb(var(--color-background));
}

.caption-large {
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.04rem;
}

.gift-card__copy-code {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: none;
}
.gift-card__copy-code span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift-card__qr-code {
  margin-top: 2.4rem;
}

.gift-card__qr-code img {
  margin: 0 auto;
}

.gift_card__apple-wallet {
  line-height: 0;
  display: block;
  margin-bottom: 5rem;
}

.gift-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2.4rem;
}

.gift-card__field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.6rem;
  max-width: 100%;
  min-height: 5.6rem;
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 750px) {
  .gift-card__field {
    margin-bottom: 4.8rem;
  }
}
.gift-card__field input[type=text] {
  flex-grow: unset;
  width: 30rem;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-block: 1rem;
}
.gift-card__field .link {
  padding: 0;
}

/*
  Focus ring - default (with offset)
*/
*:focus-visible {
  outline: 0.2rem solid rgba(var(--color-base-text), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
*:focus {
  outline: 0.2rem solid rgba(var(--color-base-text), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
*:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.button:focus-visible {
  box-shadow: 0 0 0 0.1rem rgb(var(--color-base-button-background)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
}

.button:focus {
  box-shadow: 0 0 0 0.1rem rgb(var(--color-base-button-background)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
}

.form__message {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 1rem;
  justify-content: center;
}

.form__message .icon {
  flex-shrink: 0;
  height: 1.3rem;
  margin-right: 0.5rem;
  width: 1.3rem;
}

@media print {
  .no-print {
    display: none;
  }
  .gift-card__image-wrapper {
    width: 486px;
    min-height: 288px;
    max-width: 100%;
  }
}
.gift-card-header {
  padding: 4rem 0;
}

@media screen and (max-width: 576px) {
  .header__heading-logo {
    max-width: 90px;
  }
}